* {
    box-sizing: border-box;
    background: rgb(212, 212, 212);
    font-family: sans-serif;
    /* border: 1px solid black; */
}



/* Desktop styling ______________________________ */

body {
    display: flex;
    margin-top: 2rem;
}

#main-box {
    min-width: 420px;
    max-width: 450px;
    height: 42rem;
    padding: 2rem;
    margin: auto;  
    /* margin-left: 1rem; */
    background-color: rgb(167, 166, 194);
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(69, 110, 121);
    border-radius: 20px;
}

/* Display styling */

#display{
    height: 20%;
    margin-bottom: 2rem;
    background-color: rgb(167, 166, 194);
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#display-field{
    width: 95%;
    height: 90%;
    padding-right: 10px;
    font-weight: 100;
    font-size: 70px;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: flex-end;
    border: 2px solid rgb(109, 112, 161);
    border-radius: 20px;
}

/* Number and function buttons styling */

#buttons {   
    height: 100%;
    background-color: rgb(167, 166, 194);
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.button {
    width: 5rem;
    height: 5rem;
    font-size: 35px;
    background-color: rgb(201, 201, 201);
    border: 2px solid rgb(58, 114, 128);
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

/* clear and back button styling */

#clear-and-back-container{
    display: flex;
    background-color: rgb(167, 166, 194);
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.clear-and-back{
    width: 7rem;
    height: 3rem;
    font-size: 30px;
    margin: 10px;
}

#button-c{
    background-color: rgb(241, 113, 113);
}

#button-back{
    background-color: rgb(230, 214, 127);
}

/* Hover over and tap all buttons styling */

.button:hover, .button:active {
    background-color: rgb(144, 143, 184);
    transform: scale(1.1);
    cursor: pointer;
}


/* ________________________________________ */
/* Mobile styling */

@media only screen and (max-width: 600px) {
    body{
        margin: 10px;
    }

    #main-box {
        height: 90%; 
        min-width: 310px;
        max-width: none;
        background-color: rgb(167, 166, 194);
        display: flex;
        flex-direction: column;
        border: 4px solid rgb(69, 110, 121);
        border-radius: 20px;
    }

    #buttons {   
        height: 100%;
        background-color: rgb(167, 166, 194);
        display: grid;
        grid-template: repeat(4, 1fr)/repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    }
    
    .button {
        width: 4.5rem;
        height: 4.5rem;
        margin-bottom: 1rem;
        font-size: 35px;
        background-color: rgb(201, 201, 201);
        border: 2px solid rgb(58, 114, 128);
        border-radius: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }

    #clear-and-back-container{
        display: flex;
        background-color: rgb(167, 166, 194);
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    
    .clear-and-back{
        width: 7rem;
        height: 3rem;
        font-size: 30px;
        margin: 10px;
    }
}

/* Mobile phones smaller than 360 px (iphone, s5...) */


@media only screen and (max-width: 361px) {
    body{
        margin: 5px;
    }

    #main-box {
        height: 90%; 
        min-width: 310px;
        max-width: none;
        background-color: rgb(167, 166, 194);
        display: flex;
        flex-direction: column;
        border: 4px solid rgb(69, 110, 121);
        border-radius: 20px;
    }

    #buttons {   
        height: 100%;
        background-color: rgb(167, 166, 194);
        display: grid;
        grid-template: repeat(4, 1fr)/repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    }
    
    .button {
        width: 3.3rem;
        height: 3.3rem;
        margin-bottom: 1rem;
        font-size: 35px;
        background-color: rgb(201, 201, 201);
        border: 2px solid rgb(58, 114, 128);
        border-radius: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }

    #clear-and-back-container{
        display: flex;
        background-color: rgb(167, 166, 194);
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    
    .clear-and-back{
        width: 7rem;
        height: 3rem;
        font-size: 30px;
        margin: 10px;
    }
}